
.elements{
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
}

.dark pre {
  background: var(--grey10);
  color: var(--grey70);
  padding: 10px;
  margin: 10px 0;
  height: 100%;
}

.light pre {
  background: var(--grey10);
  color: var(--grey70);
  padding: 10px;
  margin: 10px 0;
  height: 100%;
}

.code {
  cursor: pointer;
  max-height: 200px;
  overflow: hidden;
  transition: all 1s ease-in;
  -moz-transition: all 0.5s ease-in;
  border-top: thin solid var(--teal);
  padding-top: 15px;
}

.code:hover {
  max-height: 500px;
  transition: all 1s ease-in;
  -moz-transition: all 0.5s ease-in;
  overflow: scroll;
}

.code:hover pre {
  background: var(--teal);
  color: #FFF;
  height: auto;
}

span.highlight-code {
  color: var(--pink80);
  font-weight: bold;
}


span.mandatory-code {
  color: var(--cyan);
  font-weight: bold;
}

span.comment-code{
  color: var(--grey);
  font-style: italic;
}

.version{
  background: var(--pink);
}

.version a{
  color: var(--blue-grey90);
}

.dark .version a, .light .version a, .light .theme a, .dark .version a, {
  color: var(--white);
}

.theme{
  background: var(--cyan);
  color: var(--white);
}
