<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Planner UI Template</title>

        <!-- Style Sheet for MSuite V0.0.1 -->
        <link rel="icon" href="./msuite20.ico"/>
        <link rel="stylesheet" href="./css/msuite.css"/>
        <link rel="stylesheet" href="./css/index.css"/>
    </head>
    <body class="dark">
        <div class="fixed-left">
            <div class="sidebar top-left" id="sidebar">
                <div class="toggle">
                    <i class="white icon ion-md-menu"></i>
                    <span class="badge badge-notification badge-pill">14</span>
                </div>
                <div class="profile">                    
                    <div class="profile_image">
                        <img src="https://picsum.photos/id/237/200/300">                        
                    </div>
                    <p class="user_name">
                        Desigosorous
                    </p>                    
                    <p class="user_profile">
                        Some Great Player
                    </p>
                </div>
                <nav class="nav">
                  <ul>
                    <li class="active"><a href="#">
                        <i class="icon ion-md-home"></i> Welcome
                    </a></li>   
                    <li><a href="#">
                        <i class="icon ion-md-home"></i> Projects
                    </a></li>           
                  </ul>
                </nav>
            </div>     
        </div>
        <div class="fixed-right">
            <!-- Navigation Panel -->
            <nav class="navbar fixed-top navbar-expand-lg">                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">                   
                    <li class="nav-item active">
                    <a class="nav-link" href="./"> <i class="icon ion-md-home"></i> Home <span class="sr-only">(current)</span></a>
                    </li>                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Templates
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="./survey.php">Survey</a>
                            <a class="dropdown-item" href="./survey.php">Survey</a>
                            <a class="dropdown-item" href="./survey.php">Survey</a>
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">                    
                    <span class="user_name">
                    Naughty
                    </span>
                    <br/>
                    <span class="user_profile">
                    Cheif Barking Officer
                    </span>
                    <div class="profile_image">
                    <img src="https://picsum.photos/id/237/200/300">
                    <span class="badge badge-notification badge-pill">14</span>
                    </div>
                </form>
                </div>
            </nav>
        </div>          
    </body>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous'></script>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous'></script>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <script src="./js/footable.js" type="text/javascript"></script>
    <!-- Custom JS Files -->
    <script src="./js/msuite.js" type="text/javascript"></script>
    <script src="./js/index.js" type="text/javascript"></script> 
    <script src="./js/navbar.js" type="text/javascript"></script>    
</html>
