<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Login</title>

        <!-- Style Sheet for MSuite V0.2.0 -->
        <link rel="icon" href="./msuite20.ico"/>
        <link rel="stylesheet" href="./css/msuite.css"/>
        <link rel="stylesheet" href="./css/index.css"/>
        <script src="https://unpkg.com/lodash@4.16.6"></script>
        <script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule="" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.js"></script>
    </head>
    <body class="night">
        <div class="flex-container">
            <div class="popup-header">
                <h1 class="title center">MSuite</h1>
            </div>
            <div class="popup-box">                                            
                <h2>Login</h2>
                <p>Register or Login to Continue </p>
                <form class="mform" action="./">
                    <m-input field-label="Username/Email" name="email" field-type="email"></m-input>
                    <m-input field-label="Password" name="password" field-type="password"></m-input>
                    <button class="button submit w-100"><span>Sign In</span></button>
                    <p class="center no-margin">-Or-</p>
                    <button class="button w-100"><span><i class="icon ion-logo-google"></i> Login using Google</span></button>
                </form>
                <p class="center no-margin">Don't have an account? <a href="register.html">Create One</a></p>
            </div>
        </div>     
    </body>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous'></script>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous'></script>        
    <script src="./js/footable.js" type="text/javascript"></script>
    <script src="./node_modules/snapsvg/dist/snap.svg-min.js" type="text/javascript"></script>
    
    <!-- Custom JS Files -->
    <script src="./js/msuite.js" type="text/javascript"></script>
    <script src="./js/index.js" type="text/javascript"></script>
    <script src="./js/navbar.js" type="text/javascript"></script>
</html>
