<div class="project-container">
  <div class="project-item">
    <div class="row">
      <div class="col-8">
        <h3>Mercy Campaign</h3>
        <p class="project-timeline">Aug, 2020 - Jan, 2021</p>
        <div class="hover-links">
        <ul class="nav">
          <li class="nav-item">
          <a class="nav-link active" href="#">Active</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
          </li>                                            
        </ul>
        </div>
      </div>
      <div class="col-4">
        <p class="project-teams">Team Mates:</p>
        <div class="project-members">
          <div class="members-image">
            <img src="https://picsum.photos/id/237/60/60">
          </div>
          <div class="members-image">
            <img src="https://picsum.photos/id/237/60/60">
          </div>
          <div class="members-image">
            <img src="https://picsum.photos/id/237/60/60">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="project-item">
    <div class="row">
      <div class="col-8">
      <h3>Mercy Campaign</h3>
      <p class="project-timeline">Aug, 2020 - Jan, 2021</p>
      </div>
      <div class="col-4">
        <p class="project-teams">Team Mates:</p>
        <div class="project-members">
          <div class="members-image">
            <img src="https://picsum.photos/id/237/60/60">
          </div>
          <div class="members-image">
            <img src="https://picsum.photos/id/237/60/60">
          </div>
          <div class="members-image">
            <img src="https://picsum.photos/id/237/60/60">
          </div>
        </div>
      </div>
    </div>
  </div>									
</div>