
.btn{
  border: none !important;
  text-transform: uppercase;
  border-radius: 0px;
  font-size: 14px;
}

.btn-primary{
  background: var(--cyan80);
}

.btn-primary:hover{
  background: var(--cyan90);
  box-shadow: 0 0 2px #CCC;
}
