/* -----
  Color Reference Sheet for Material UI: https://www.materialui.co/colors
  Document Author: Rohit Nair
  for Make A Difference, India
------ */

:root {

  /* MAD Colors */
    --mad-red: #ed1849;
    --mad-yellow: #FFE800;

  /* Custom Colors   */
    --black : #000000;
    --blue: #2196F3;
    --light-blue: #03A9F4;
    --indigo: #3F51B5;
    --purple: #9C27B0;
    --deep-purple: #673AB7;
    --pink: #E91E63;
    --red: #f44336;
    --orange: #fd7e14;
    --green: #4CAF50;
    --light-green: #8BC34A;
    --lime: #CDDC39;
    --teal: #009688;
    --cyan: #00BCD4;
    --white: #fff;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --yellow: #FFEB3B;
    --amber: #FFC107;
    --deep-orange: #FF5722;
    --brown: #795548;
    --grey: #9E9E9E;
    --blue-grey: #607D8B;

  /* Material UI Colors */

  /* Cyan */
    --cyan70: #0097A7;
    --cyan80: #00838F;
    --cyan90: #006064;

  /* Indigo */
    --indigo60: #3949AB;
    --indigo70: #303F9F;

  /* Grey */
    --grey00: #FAFAFA;
    --grey10: #F5F5F5;
    --grey20: #EEEEEE;
    --grey30: #E0E0E0;
    --grey40: #BDBDBD;
    --grey50: #9E9E9E;
    --grey60: #757575;
    --grey70: #616161;
    --grey80: #424242;
    --grey90: #212121;

  /* Blue Grey */

    --blue-grey00: #ECEFF1;
    --blue-grey10: #CFD8DC;
    --blue-grey20: #B0BEC5;
    --blue-grey30: #90A4AE;
    --blue-grey40: #78909C;
    --blue-grey50: #607D8B;
    --blue-grey60: #546E7A;
    --blue-grey70: #455A64;
    --blue-grey80: #37474F;
    --blue-grey90: #263238;

  /* Teal */
    --teal40: #26A69A;
    --teal60: #00897B;
    --teal70: #00796B;
    --teal80: #00695C;
    --teal90: #004D40;

  /* Deep Purple */
    --deep-purple70: #512DA8;
    --deep-purple80: #4527A0;

  /* Deep Orange */

    --deep-orange80: #D84315;

  /* Pink */
    --pink30: #F06292;
    --pink40: #EC407A;
    --pink50: #E91E63;
    --pink60: #D81B60;
    --pink70: #C2185B;
    --pink80: #AD1457;
    --pink90: #880E4F;

  /* Purple */

  /* Red */
    --red : #f44336;
    --red00: #ffebee;
    --red10: #ffcdd2;
    --red20: #ef9a9a;
    --red30: #e57373;
    --red40: #ef5350;
    --red60: #e53935;
    --red70: #d32f2f;
    --red80: #c62828;
    --red90: #b71c1c;    

}

body.dark{
  background: var(--grey80);
  /* color: var(--white); */
}

body.light{
  background: var(--grey10);
  /* color: var(--black); */
}

.white{
  color: var(--white);
}

.black{
  color: var(--grey90);
}
