

:root {
  --mad-red: #ed1849;
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;

  /* Material UI Colors */
  /* Cyan */
  --cyan50: #00BCD4;
  --cyan70: #0097A7;
  --cyan80: #00838F;
  --cyan90: #006064;


  --gray00: #FAFAFA;
  --gray10: #F5F5F5;
  --gray70: #616161;
  --gray80: #424242;
  --gray90: #212121;
  --black : #000000;

  /* Teal */
  --teal50: #009688;

  /* Deep Purple */
  --deep-purple70: #512DA8;
  --deep-purple80: #4527A0;

  /* Deep Orange */
  --deep-orange80: #D84315;
}



body.dark{
  background: var(--gray80);
  color: var(--white);
}

body.white{
  background: var(--gray10);
  color: var(--black);
}

.white{
  color: var(--white);
}
