input{
  outline: 0;
}


input[type="radio"] {
  background: var(--gray70);
  cursor: pointer;
  display: inline-block;
  border-radius: 50%;
  height: 14px;
  margin-right: 10px;
  margin-top: -10px;
  position: relative;
  width: 14px;
  -webkit-appearance: none;
}
input[type="radio"]:after {
  background-color: var(--white);
  border-radius: 50%;
  content: '';
  display: block;
  height: 10px;
  left: 2px;
  position: relative;
  top: 2px;
  width: 10px;
}
input[type="radio"]:checked:after {
  background-color: #f66;
}
