
.navbar{
  position: sticky;
  width: 100%;
  margin-bottom: 20px;
}

.navbar-dark{
  background: var(--gray90);
  border-bottom: 2px solid var(--mad-red);
}

.navbar-light{
  background: var(--gray);
}

.navbar-dark .navbar-toggler{
  border: none;
}

.navbar-dark .navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar .profile_image{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #666666;
  text-align: center;
  overflow: hidden;
  background: url("https://picsum.photos/seed/picsum/40/40");
}

.navbar .profile_image img{
  width: 100%;
}

.navbar span.user_name{
  padding: 0 0 0 10px;
}

.navbar-dark span.user_name{
  color: var(--white);
}

.navbar-light span.user_name{
  color: var(--gray90);
}

.navbar i.icon{
  font-size: 15px;
}
