.toast.toast-fixed{
  position: fixed;
  z-index: 10;
}

.toast.top-right{
  top: 70px;
  right: 20px;
}

.toast.top-left{
  top: 70px;
  left: 20px;
}

.toast-header{
  background: var(--gray90);
  color: var(--white);
}
.toast-body{
  background: var(--gray80);
  color: var(--white);
}

button.close{
  color: var(--white);
}

@media (max-width:500px) {
  .toast{
    right: 10px;
  }
}
